
<div style=" text-align: center; margin-top: 20px;" *ngIf="nextCourses.length>0 ; else noNextCoursesYet">
  <h5 class="inline" *ngFor="let crs of nextCourses$ | async; index as i; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }">
  <app-next-course [refNextCourse]="crs" style=" text-align: center; margin-bottom: 20px;" (initFavLessMeduimArray)="updateInprobableAndFavorite()"></app-next-course>
  </h5>
  <!-- (checkParticipants)="participantsJokey($event)" -->

<div  style=" text-align: center; margin-top: 20px;">

      <form [(formGroup)]="form">
          <label class="container">
            <input type="radio" formControlName="choise" value="2" > 2
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="radio" formControlName="choise" value="3" > 3
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="radio" formControlName="choise" value="4" > 4
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="radio" formControlName="choise" value="5"> 5
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="radio" formControlName="choise"  value="6"> 6
            <span class="checkmark"></span>
          </label>

          <label class="container">
            <input type="radio" formControlName="choise"   value="7" > 7
            <span class="checkmark"></span>
          </label>
      </form>
      <h5 class="inline" *ngFor="let jck of allJockeys$ | async; index as i; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }">
      <!-- <h1 class="inline" *ngFor="let jck of participantsState$ | async; index as i; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }"> -->
        <app-jockey [nbr]="allJockeys[i]['numPmu']" [coteJockey]="allJockeys[i]['dernierRapportDirect']['rapport']"  (renvoiNumJockey)="removefromAllJockeys(i)" (coteJockeyChange)="addInCotes($event)"></app-jockey>
        {{ (allJockeys[i]['nom'] ).substring(0,4)| lowercase}}
      </h5>
      <!--   -->
      <div class="row">

          <favorite class="col-md-4" [tableFavorites]="tableFavorites"></favorite>
          <medium-probable class="col-md-4" [tableMediumProbable]="tableMediumProbable"></medium-probable>
          <less-probable class="col-md-4" [tableLessProbable]="tableLessProbable"></less-probable>
      </div>
      <app-ia class="col-md-4" [iaTableResult]="iaTableResult"></app-ia>
      <div style=" text-align: center; margin-bottom: 30px;">
          <button class="btn btn-secondary format-action"><h1 (click)= "spots()">Spots</h1></button>
      <!-- </div> -->
      <!-- <div style=" text-align: center; margin-bottom: 30px;"> -->
        <!-- <button class="btn btn-secondary format-action"><h1 (click)= "ia()">IA</h1></button> -->
    </div>

      <ng-container *ngIf="spotsTable$ | async; let spots;">
        <p>{{spots.first}}</p>
      </ng-container>


</div>

<!-- <table class="table table-striped">


      <tr *ngFor="let rw of tableWithRedendence, index as i">
        <td>{{rw[0]}}</td><td>{{rw[1]}}</td><td>{{rw[2]}}</td><td>{{rw[3]}}</td>

      </tr>


</table> -->
<!-- <app-datatables></app-datatables> -->
<basic-table  [sourceTable]='spotsTable'
              [choise]='form.value.choise'></basic-table>
</div>
<ng-template #noNextCoursesYet>
<mat-card>
  <h1>No Courses yet !!</h1>
</mat-card>
</ng-template>