

<!-- <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default" [class.active]="yourVariable==item" (click)="yourVariable=item" *ngFor="let item of items">
          <input type="radio" style="display: none;" name="radios" [(ngModel)]="yourVariable" [value]="item" [checked]="yourVariable==item" />
          {{yourLabelText}}
      </label>
    </div> -->



<div  style=" text-align: center; margin-top: 20px;">
  <form (formGroup)="form" >
    <!-- <div class="btn-group" data-toggle="buttons">
      <label class="container" [class.active]="toChoose==item" (click)="toChoose=item" *ngFor="let item of items" >
          <input type="radio" style="display: none;" name="choise" formControlName="choise" [value]="item" [checked]="toChoose==item" >
          {{item}}
           <span class="checkmark"></span>
      </label>
    </div> -->
    <label class="container">
      <input type="radio" formControlName="choise" value="2" > 2
      <span class="checkmark"></span>
    </label>

    <label class="container">
      <input type="radio" formControlName="choise" value="3" > 3
      <span class="checkmark"></span>
    </label>

    <label class="container">
      <input type="radio" formControlName="choise" value="4" > 4
      <span class="checkmark"></span>
    </label>

    <label class="container">
      <input type="radio" formControlName="choise" value="5"> 5
      <span class="checkmark"></span>
    </label>

    <label class="container">
      <input type="radio" formControlName="choise"  value="6"> 6
      <span class="checkmark"></span>
    </label>

    <label class="container">
      <input type="radio" formControlName="choise"   value="7" > 7
      <span class="checkmark"></span>
    </label>
  </form>

</div>

<basic-table  [sourceTable]='spotsTable'
              [choise]='form.value.choise'></basic-table>


