
<table class="container table table-striped">
    <thead>
 

      <tr>
        <th *ngFor="let head of headElements" scope="col"><h3>{{head}}</h3> </th>
      </tr>


      
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of elements" >
          
        <th scope="row"><h1>{{el[0]}}{{el[1]}}</h1></th>
        <th scope="row"><h1>{{el[3]}}{{el[4]}}</h1></th>
        <th scope="row"><h1>{{el[6]}}{{el[7]}}</h1></th>
        <th scope="row"><h1>{{el[9]}}{{el[10]}}</h1></th>
 
        <th *ngIf="nbrColone>=5"><h1>{{el[12]}}{{el[13]}}</h1></th>
        <th *ngIf="nbrColone>=6"><h1>{{el[15]}}{{el[16]}}</h1></th> 
        <th *ngIf="nbrColone==7"><h1>{{el[18]}}{{el[19]}}</h1></th> 
      </tr>
    </tbody>
  </table>