
<table class="container table table-striped">
    <thead>


      <tr>
        <th *ngFor="let head of headElements" scope="col"><h1>{{head}}</h1> </th>
      </tr>


      
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let el of elements" >
      
        <th scope="row"><h1>{{el[0]}}</h1></th>
        <td><h1>{{el[2]}}</h1></td>
        <td><h1>{{el[4]}}</h1></td> 
        <td><h1>{{el[6]}}</h1></td>
        <td *ngIf="nbrColone==5"><h1>{{el[8]}}</h1></td>
        <td *ngIf="nbrColone==6"><h1>{{el[11]}}</h1></td> 
        <td *ngIf="nbrColone==7"><h1>{{el[12]}}</h1></td>
      </tr>
    </tbody>
  </table>