/* You can add global styles to this file, and also import other style files */
.even {
    background-color: aliceblue
}
.odd {
    background-color: azure
}
.inline {
    display: inline-block; /* the default for span */
    margin-left: 5px;
    
    
  }